<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- player service displays persistent notification about playback
         which is a foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"
        tools:ignore="SystemPermissionTypo" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"
        tools:ignore="SystemPermissionTypo" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"
        tools:ignore="SystemPermissionTypo" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"
        tools:ignore="SystemPermissionTypo" />
    <!-- this might be needed to detect incoming calls & stop media playback/call then -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- calls -->
    <!-- we use fullscreen intent with ringing notification to display incoming call screen -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <!-- we acquire wake lock notifications to keep the device awake while call is in progress &
         to shut the screen down on proximity sensor -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- we acquire microphone access for calls -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- we manage audio devices for playback during calls -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- we use vibration to notify about incoming call -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- bluetooth permission is needed to manage bluetooth sco -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <!-- file downloads -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- we use those to monitor network connection state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- install apl permission -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- disable getting advertisement ids, since we do not display adds -->
    <!-- see also: https://support.google.com/googleplay/android-developer/answer/6048248?hl=en -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <!-- used by workers to fetch data in background -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />-->

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name="amber.messenger.android.AmberApplicationInstance"
        android:allowBackup="${allowBackupValue}"
        android:label="@string/app_name"
        android:theme="@style/Theme.Amber.Splash"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="UnusedAttribute">
        <profileable android:shell="${profileable}"/>


        <activity-alias
            android:name=".LauncherActivity"
            android:targetActivity="amber.messenger.android.activity.AmberUiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="amber.messenger.android.activity.AmberUiActivity"
            android:configChanges="colorMode|density|uiMode|orientation|fontScale|fontWeightAdjustment|screenLayout|screenSize|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="app"
                    android:host="${applicationId}" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_notification_icon" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/brandBase" />-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="announcements" />

        <!--Theme of App & metadata below are used by Android Auto-->
        <!-- TODO: ANDROID-4
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        -->
    </application>

</manifest>
